<%- include('partials/header'); -%>
      <!--Create Business Page-->

  <section id="BusinessPageid">
      <div class="container formMiddle">
          <h1>You are almost there!</h1>
          <form action="/BusinessCreate" method="post">
              <div class="form-group">
                <label for="NameOfB">Name of your Business</label>
                <input type="text" class="form-control" id="NameOfB" name="nameb" aria-describedby="emailHelp" placeholder="Example: Nike">
              </div>
              <div class="form-group">
                <label for="Service">Service that you provide</label>
                <input type="text" class="form-control" id="Service" name="service" placeholder="Example: Parking">
              </div>
              <div class="form-group">
                  <label for="Price">Pricing (in dollars)</label>
                  <input type="number" class="form-control" id="Price" name="price" placeholder="Example: 12">
              </div>
              <button id="BusinessCreated" type="submit" name="button" class="btn btn-dark">Submit</button>
            </form>
      </div>
  </section>

<%- include('partials/footer'); -%>
