<%- include('partials/header'); -%>
    <!--Register Page-->
    <section id="RegisterPage">
      <div class = "container">
        <div class='row col-lg-12 text-center'>             
          <div class="col-lg-6 middle">
              <div class="form-group">
                  <!-- <input type="number" class="form-control" id="Initialize" placeholder="Initialize"> -->
                  <br>
                  <h1>Register</h1>
                  <button type="button" id="userRegister" class="btn btn-dark">User</button>
                  <button type="button" id="BizRegister" class="btn btn-dark">Business</button>
              </div>
          </div>
        </div>
      </div>
    </section>

<%- include('partials/footer'); -%>
