<%- include('partials/header'); -%>
      <!--Create User Page-->

    <section id="UserPageid">
        <div class="container formMiddle">
            <h1 id="test">Hey there, you are almost there!</h1>
            <form action="/UserPage" method="post">
                <div class="form-group">
                  <label for="NameOfU">Name</label>
                  <input type="text" class="form-control" id="NameOfU" name="nameu" aria-describedby="emailHelp" placeholder="Example: John Doe">
                </div>
                <div class="form-group">
                  <label for="car">Car's Nameplate</label>
                  <input type="text" class="form-control" id="car" name="Car">
                </div>
                <button id="userCreated" type="submit" name="button" class="btn btn-dark" onclick="userlandinPage()">Submit</button>
              </form>
        </div>
    </section>
<%- include('partials/footer'); -%>
